<% layout("layouts/boilerplate.ejs"); %>
<div class="row mt-5">
    <div class="col-9 offset-2">
    <h3>Edit your note</h3>
    <form action="/notes/<%=note._id%>?_method=PUT" method="post" novalidate class="needs-validation">
        <div>
            <label for="title" class="=form-label">Title:</label>
            <input type="text" name="title" value="<%=note.title%>" class="form-control" required><br>

        </div>
        <div>
            <label for="content" class="form-label">Description</label>
            <textarea name="description" rows="5" cols="40" class="form-control" required><%=note.description %></textarea><br>
        </div>
       <button class="btn btn-dark"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
    </form>
</div>
</div>


